{% extends "@App/menu.html.twig" %}

{% block media_content %}
    <div style="margin-top: 200px">
        {% block form_block %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="well">
                        {% block form%}{% endblock form%}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        {% endblock form_block %}
    </div>
{% endblock media_content %}