{% extends "base.html.twig" %}
{% block body %}
    {% block form_block %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="well">
                        {% block form_fields %}{% endblock form_fields %}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
    {% endblock form_block %}
{% endblock body %}