{% extends '@App/menu.html.twig' %}
{% block media_content %}
    <div style="background: black;height: 100px"></div>
    {% for detail in details %}
    <div style="background:black;margin-left: 5%;margin-right:5%;text-align: center;text-justify:inter-word;padding-bottom: 20px">
        {{ detail.body|raw }}
    </div>
    {% endfor %}
{% endblock %}