{% extends '@App/menu.html.twig' %}
{% block media_content %}
    {% for detail in details %}
    <div style="background: rgba(55,55,55,.0);margin-left: 5%;margin-right:5%;text-align: center;text-justify:inter-word;margin-bottom: 15px">
        <p style="color:white;">{{ detail.body|raw }}</p>
    </div>
    {% endfor %}
{% endblock %}