{% extends 'AppBundle::menu.html.twig' %}
{% block media_content %}
  <div style="background: black;height: 80px"></div>
  <div style="padding-bottom: 10%;overflow: scroll">
    <img  style="align-self:center  " src="{{ vich_uploader_asset(photo, 'photo') }}">
  </div>
{% endblock %}