{% extends '@App/menu.html.twig' %}
{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block media_content %}
    <div style="text-align: center">
         <iframe src="{{'http://www.youtube.com/embed/'~link }}" width=80% height="600px" style="margin-top: 10%;margin-bottom: 10%"></iframe>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#{% endblock %}#}