{% extends '@App/menu.html.twig' %}
{#{% block stylesheets %}#}

{#{% endblock %}#}

{% block media_content %}
    <div style="text-align: center">
         <iframe src="{{'http://www.youtube.com/embed/'~link }}" width=72% height="550px" style="margin-top: 8%;margin-bottom: 10%" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#{% endblock %}#}