{% extends "@App/menu.html.twig" %}
{% block media_content %}
    <div id="contact-us" style="background-attachment: fixed;padding-bottom: 0" >
    <div  class="container-fluid" style="background: rgba(0,0,0,.46)">
    {% block form_block %}
            <div class="row" style="margin-top: 10%">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="well">
                        {% block form%}{% endblock form%}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
    {% endblock %}
    </div>
    </div>
{% endblock media_content %}