{% extends '@App/menu.html.twig' %}
{% block media_content %}
    <div class="jumbotron, text-center" style="margin-top: 200px">
        <h1>Upload Sucessful</h1 >
    </div>
{% endblock media_content %}